* {
  outline: none;
  color: rgb(199, 198, 198);
}

.up-img{
  min-height: 250px !important;
}

.footer{
  background-color: #181A1B !important;
}

.navbar-header{
  background-color: #181A1B !important;
}

.top-navbar{
  background-color: #181A1B !important;
}

.sidebar-nav{
  background-color: #181A1B !important;
}

.left-sidebar{
  background-color: #181A1B !important;
}

.card-title{
  color: #B3ACA2 !important;
}

.card{
  background-color: #181A1B !important;
}

code{
  color: #20aee3;
  background-color: #313435 !important;
}

.page-wrapper {
    background: #152226 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #1d1d1e;
    border-color: #313435 #313435 #313435;
}

.page-titles {
    background: rgba(0, 0, 0, 0) !important;
}