a {
  color: #3391ff;
}

a {
  color: rgb(78, 232, 202);
  text-decoration-color: initial;
}

a:hover {
  color: rgb(105, 236, 211);
}

.list-inline {
  list-style-image: initial;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
}

.btn {
  color: rgb(209, 205, 199);
  text-decoration-color: initial;
  background-color: transparent;
  border-color: transparent;
}

.btn:hover {
  color: rgb(209, 205, 199);
}

.btn-check:focus + .btn, .btn:focus {
  outline-color: initial;
  box-shadow: rgba(19, 150, 125, 0.25) 0px 0px 0px 0.25rem;
}

.btn-outline-light {
  color: rgb(228, 226, 222);
  border-color: rgb(50, 54, 56);
}

.btn-outline-light:hover {
  color: rgb(232, 230, 227);
  background-color: rgb(27, 30, 31);
  border-color: rgb(50, 54, 56);
}

.btn-check:focus + .btn-outline-light, .btn-outline-light:focus {
  box-shadow: rgba(27, 30, 31, 0.5) 0px 0px 0px 0.25rem;
}

.btn-check:checked + .btn-outline-light, .btn-check:active + .btn-outline-light, .btn-outline-light:active, .btn-outline-light.active, .btn-outline-light.dropdown-toggle.show {
  color: rgb(232, 230, 227);
  background-color: rgb(27, 30, 31);
  border-color: rgb(50, 54, 56);
}

.btn-check:checked + .btn-outline-light:focus, .btn-check:active + .btn-outline-light:focus, .btn-outline-light:active:focus, .btn-outline-light.active:focus, .btn-outline-light.dropdown-toggle.show:focus {
  box-shadow: rgba(27, 30, 31, 0.5) 0px 0px 0px 0.25rem;
}

.footer {
  background-color: rgb(35, 50, 64);
  color: rgb(232, 230, 227);
}

a {
  color: rgb(78, 232, 202);
}

a:focus, a:hover, a:active {
  color: rgb(92, 234, 206);
}

.btn {
  color: rgb(232, 230, 227);
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

* {
  outline: none;
}

