body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  background-image: url("https://oval-knight.com/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.main .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .body .panel {
  border-radius: 1.5rem;
  width: 28%;
  height: auto;
  z-index: 10;
}

.main .body .panel .panel-header {
  background-color: #c6171e;
  border-radius: 1rem;
}

.main .body .panel .panel-header h2 {
  padding: 20px;
  text-align: center;
}

.main .body .panel .panel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #202224;
  border-radius: 1rem;
  width: 100%;
  margin-top: 10px;
}

.main .body .panel .panel-content .item-card p {
  text-align: left;
  padding: 25px 10px 25px;
  margin-bottom: 0;
}

.main .body .panel .panel-content .cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
  height: 50px;
  width: 50px;
  border-radius: .5rem;
  text-align: center;
  background-color: #3B4144;
  margin-left: 10px;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

::-webkit-input-placeholder {
  color: #e8e6e3;
}

:-ms-input-placeholder {
  color: #e8e6e3;
}

::-ms-input-placeholder {
  color: #e8e6e3;
}

::placeholder {
  color: #e8e6e3;
}

div[role="progressbars"] {
  margin-left: auto;
  -ms-grid-row-align: center;
      align-self: center;
  margin-right: 10px;
  --size: 12rem;
  --fg: #958c80;
  --bg: #232627;
  width: 50px;
  height: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: .6rem;
  text-align: center;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: radial-gradient(closest-side, #1b1e1f 80%, transparent 0 101%), conic-gradient(#ec1c24 calc(var(--value) * 0.5%), #526cff calc(var(--value) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  color: var(--fg);
}

div[role="progressbars"]::after {
  counter-reset: percentage var(--level);
  content: counter(percentage);
  white-space: pre-wrap;
}

div[role="progressbars"]::before {
  content: "Level";
  color: #9b9285;
  font-weight: 600;
  white-space: pre-wrap;
}

.kills::before {
  content: "Kills" !important;
  color: #9b9285;
  font-weight: 600;
  white-space: pre-wrap;
}
/*# sourceMappingURL=leaderboard.css.map */