:root {
  --color-red: #ed161f;
  --color-blue: #516cff;
  --color-primary: #00bcd4;
  --color-secondary: #fafafa;
  --color-tertiary: #fafafa;
  --background-gray: #132130;
}

body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  background-image: url("https://oval-knight.com/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.main h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 20px;
}

.main .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .body .panel {
  border-radius: 1.5rem;
  width: 28%;
  height: auto;
  z-index: 10;
}

.main .body .panel .panel-header {
  background-color: #c6171e;
  border-radius: 1rem;
}

.main .body .panel .panel-header h2 {
  padding: 20px;
  text-align: center;
}

.main .body .panel .panel-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FFF;
  border-radius: 1rem;
  width: 100%;
  margin-top: 10px;
}

.main .body .panel .panel-content .item-card p {
  text-align: left;
  padding: 25px 10px 25px;
  margin-bottom: 0;
}

.main .body .panel .panel-content .cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
  height: 50px;
  width: 50px;
  border-radius: .5rem;
  text-align: center;
  background-color: #424243;
  margin-left: 10px;
}

.main .body .panel .panel-content .spacer {
  background: black;
  width: 3px;
  margin: 11px 0;
  margin-left: 7px;
}

.main .body .panel .panel-content .end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: 10px;
  -ms-flex-item-align: center;
      align-self: center;
  height: 100%;
  height: 50px;
  width: 80px;
  border-radius: .5rem;
  text-align: center;
  background-color: #424243;
}

.main .body .panel .panel-content .kills {
  width: 125px !important;
}

.navbar {
  margin: 0 30px;
  padding: 10px;
  background-color: var(--background-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
          box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

.navbar .navbar-logo {
  margin-left: 5px;
}

.navbar .navbar-logo img {
  border-radius: 10px;
  width: 50px;
  height: 50px;
}

.navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .links a {
  text-decoration: none;
  color: var(--color-blue);
  margin-left: 15px;
  display: inline-block;
  position: relative;
  font-size: 1.2rem;
}

.navbar .links a:nth-child(1) {
  margin-left: 0 !important;
}

.navbar .links a:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 3px;
  bottom: -2px;
  left: 0;
  background-color: var(--color-blue);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.navbar .links a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: #0d6efd;
  text-decoration: underline;
}

a:hover {
  color: #0a58ca;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

::-webkit-input-placeholder {
  color: #e8e6e3;
}

:-ms-input-placeholder {
  color: #e8e6e3;
}

::-ms-input-placeholder {
  color: #e8e6e3;
}

::placeholder {
  color: #e8e6e3;
}
